# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
public/images/1.jpg
public/images/2.jpg
public/images/3.jpg
public/images/4.jpg
public/images/5.jpg
public/images/6.jpg
public/images/7.jpg
public/images/8.jpg
public/images/46.jpg
public/images/47.jpg
public/images/49.jpg
public/images/50.jpg
public/images/52.jpg
public/images/56.jpg
public/images/77.jpg
public/images/78.jpg
public/images/107.JPG
public/images/108.JPG
public/images/109.JPG
public/images/110.jpg
public/images/111.png
public/images/112.png
public/images/113.png
public/images/Трушкина Ю..png
