td {
	text-align: left;
	border: none;
	padding: 10px 15px;
	font-size: 14px;
	vertical-align: top;
}

tr:nth-child(even){
	background: #e68b1521;
}

tr:nth-child(odd){
	background: #eedf0e28;
}

tr td:first-child {
	border-radius: 8px 0 0 8px;
	width: 22%;
}

tr td:last-child {
	border-radius: 0 8px 8px 0;
}

tr td:nth-child(6) {
	width: 7%;
}

tr td:nth-child(5) {
	width: 5%;
}

tr td:nth-child(7), tr td:nth-child(8) {
	width: 12%;
}

tr td:nth-child(2), tr td:nth-child(3), tr td:nth-child(4) {
	width: 10%;
}

tr td:nth-child(9) {
	width: 12%;
}

.modal-bg-gray {
	background-color: #fcf0e1;
	width: 100vw;
	height: 100vh;
	p {
		margin-top: 0px;
	}
}

.img_user {

	max-width: 100vw;
	max-height: 80vh;
}
.row_hover:hover {
	background: rgb(59, 227, 160);
	cursor: pointer;
}

.modal-bg-gray img{
	margin-top: 20px;
}

.text-hover {
	cursor: auto;
}